## Dats Structures

## Tuples

In [ ]:
-Are like 'list' are represented by parentheses, which are immutable and accessible through indices,We can aslo extend and append to the list but not  the tuple.

In [3]:
countries=('India','AMerica','Iran','Uk')

In [4]:
type(countries)

tuple

In [5]:
# Packinga tuple is a concept where you declare a variable and assign a list of value with out parantheses


regions='Asia','Europe','NOrth America','Australia'

In [6]:
type(regions)

tuple

In [7]:
num=1,5,7

In [8]:
type(num)

tuple

In [13]:
# Unpacking is atuple concept where the tuple items can be assigned to multiple variables in sequence
a,b,c=num

In [14]:
print(a,c)

1 7

### while unpacking he tuple , the individual varaibles will hold the respective ddata type, based on the value it is holding

In [17]:
print(type(c))

<class 'int'>

In [18]:
# ASsigning one item to a tuple 
Trees='Banyan'

#SIde effect of this is , it will just get the tpe basedo n the one single value

In [20]:
type(Trees)

str

In [ ]:
# to overcome this add a ',' at the end

In [26]:
Trees=('Banyan' ,)

In [28]:
type(Trees)

tuple

## Accessing a tuple

In [ ]:
# Tuple are accessed thorugh indices.

In [29]:
Tupe1=('Calif','Tenes','Georgia','Arizona')

In [30]:
Tupe1[0]

'Calif'

In [31]:
Tupe1[3]

'Arizona'

In [33]:
print('',Tupe1[0])

 Calif

In [ ]:
# Slicing and Dlicing of Tuples 

#Tuples never travers from Right to LEft. The order of traversal is always left to right based on indexing

In [34]:
print('',Tupe1[0:2])

 ('Calif', 'Tenes')

In [35]:
print('',Tupe1[:2])

 ('Calif', 'Tenes')

In [37]:
print('',Tupe1[-2:])

 ('Georgia', 'Arizona')

In [38]:
print('',Tupe1[:-2])

 ('Calif', 'Tenes')

In [39]:
print('',Tupe1[-3:17])

 ('Tenes', 'Georgia', 'Arizona')

In [40]:
print('',Tupe1[-3:1])

 ()

# Deleting  an item in a tuple is nt possible  as tuple is immutable but has exceptions.
del Tupe1[0]

In [44]:
just=('A','HI',1,4.5,(1,2,3))

In [45]:
just

('A', 'HI', 1, 4.5, (1, 2, 3))

In [46]:
del just[1]

TypeError: 'tuple' object doesn't support item deletion

In [47]:
just1=('A','HI',1,4.5,[1,2,3])

In [48]:
type(just1[4])

list

# A tuple with a subset of items will have the indexing start from '0'

In [ ]:
# Values of the list with in a tuple, can be changed as it owns the properties of a list as soon as you refer it  like below

In [55]:
type(just1[4])

list

In [50]:
just1[4][1]

2

In [ ]:
change  the value of a tuple

In [52]:
just1[4][1]=5

In [53]:
just1

('A', 'HI', 1, 4.5, [1, 5, 3])

# OPerations of Tuples

In [56]:
len(just1)

5

In [60]:
max(just1)

TypeError: '>' not supported between instances of 'int' and 'str'

In [61]:
max(just1[4])

5

In [63]:
min(just1[4])

1

In [76]:
def func_tup():
    print('The len : ',len(just1))
    print('The max :',max(just1[4]))
    print('The MIn',min(just1[4]))
    print('The sorted',sort(just1))

In [77]:
func_tup()

The len :  5
The max : 5
The MIn 1

NameError: name 'sort' is not defined

# MEthods

# index()

In [ ]:
#index menthod will returns the frist occurence of the value being passed in case of duplicates.

In [88]:
q=('HImachal','Andhra','Karnataka','Karnataka','telangana','Maharashtra','Kerala','Maharashtra','telangana')

In [90]:
q.index('Kerala')

5

In [91]:
q.index('telangana')

3

In [92]:
q.index('Karnataka')

1

In [93]:
r=('HImachal','Andhra','Karnataka','Karnataka','telangana','Maharashtra','Kerala','Maharashtra','telangana')

In [94]:
r.index('telangana')

4

In [95]:
r.index('Karnataka')

2