# Sets

# Starts with a Curly braces .holds the data in sorted way  and the difference between lists and sets is that set do not hold duplicate the values

In [1]:
a={1,2,3}
a

{1, 2, 3}

In [2]:
type(a)

set

# sets can be mutable but sets cannot contain mutable structures like set, list and dictionary.
# Which means it can hold a tuple

In [4]:
b={1,2,3,3,3,4,5,6,7,2,1,4,8,9,6,7,}

In [5]:
print(b)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [6]:
b={1,2,3,4,(a,b,c)}

NameError: name 'c' is not defined

In [7]:
b={1,2,3,4,(1,2,3)}

In [8]:
b

{(1, 2, 3), 1, 2, 3, 4}

In [10]:
b={1,2,3,4,(7,8,2,3)}

In [11]:
b

{(7, 8, 2, 3), 1, 2, 3, 4}

In [12]:
# a set function can be used to create an empty set 
#A set function is passed with out any arguments to the variable of our choice to create an empty set.
# an empty set can nt be created by usinf {} , as th type of that vriable would be dictionary.

a=set()

In [13]:
type(a)

set

In [14]:
q={}

In [15]:
type(q)

dict

# Accessing a set

# Sets can not be sliced and doesnot support indexing

In [17]:
b={1,2,3,4,5,6,7,8,9,0}

In [18]:
print(b)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
# sets can not be slices and dices , becaues indexing it not supported.

In [ ]:
# discard method  :removes the value from the set

In [19]:
b.discard(9)

In [20]:
b

{0, 1, 2, 3, 4, 5, 6, 7, 8}

# remove method removes the object but throws an error if the objects is not preent  but discard does not throw any error.
# remove and discard does the same operation but with above mentioned differnce

In [22]:
b.remove(78)

KeyError: 78

## Update MEthod

In [ ]:
# updates thevalues in the set

In [1]:
d={'Pleasanton','Dublin','zimbabwe'}
d

{'Dublin', 'Pleasanton', 'zimbabwe'}

In [ ]:
# if you update a value in to a set , it would  break the  input value in to inidividual characters and sorts and add to the set

In [3]:
d.update('Pleasanton')

In [4]:
d

{'Dublin', 'P', 'Pleasanton', 'a', 'e', 'l', 'n', 'o', 's', 't', 'zimbabwe'}

In [5]:
d.update(['Pleasanton'])

In [ ]:
# to update the value as such in to the list then plz mention the square brackets.

In [6]:
d

{'Dublin', 'P', 'Pleasanton', 'a', 'e', 'l', 'n', 'o', 's', 't', 'zimbabwe'}

# Union Method

In [9]:
# Union will join two sets and brings in all the unique values between te sets

In [11]:
b={'Sanramon','mipitas'}

In [12]:
d.union(b)

{'Dublin',
 'P',
 'Pleasanton',
 'Sanramon',
 'a',
 'e',
 'l',
 'mipitas',
 'n',
 'o',
 's',
 't',
 'zimbabwe'}

In [23]:
h={'1','2','3','4','z'}

In [18]:
i={'1','2','3','4','z'}

In [16]:
b.union(d,h,i)

{'1',
 '2',
 '3',
 '4',
 'Dublin',
 'P',
 'Pleasanton',
 'Sanramon',
 'a',
 'e',
 'l',
 'mipitas',
 'n',
 'o',
 's',
 't',
 'z',
 'zimbabwe'}

In [ ]:
# Intersection Method

In [22]:
h.intersect(i)

AttributeError: 'set' object has no attribute 'intersect'

In [24]:
h

{'1', '2', '3', '4', 'z'}

In [25]:
i

{'1', '2', '3', '4', 'z'}

In [27]:
h.intersection(i)

{'1', '2', '3', '4', 'z'}

In [ ]:
# Difference method will take all the

In [28]:
j=h.difference(i)

In [29]:
j

set()

In [30]:
k=h.symmetric_difference(i)

In [31]:
k

set()

In [32]:
h

{'1', '2', '3', '4', 'z'}

In [33]:
i

{'1', '2', '3', '4', 'z'}

In [34]:
z={'6','7','8','9'}

In [37]:
k=h.symmetric_difference(i)

In [38]:
k

set()

In [ ]:
#3 Is disjoint will return true if the intersection of twsets does not have anything in common.

In [40]:
s=k.isdisjoint(i)

In [41]:
s

True

In [ ]:
# Issubset will return true if the first set is a subset of second set

In [42]:
k.issubset(i)

True

In [ ]:
#  Issuperset will retrun true if the the sirst set is the super set of second set.

In [43]:
i.issuperset(k)

True

# Dictionaries